dist
dist-*
benchmark/result
.DS_Store
cabal.project.local
# This is for benchmark results
*.xml
# cabal-dev
# *.o
# *.hi
# *.hie
# *.chi
# *.chs.h
# *.dyn_o
# *.dyn_hi
# .hpc
# .hsenv
# .cabal-sandbox/
# cabal.sandbox.config
# *.prof
# *.aux
# *.hp
# *.eventlog
# .stack-work/
# cabal.project.local
# cabal.project.local~
# .HTF/
# .ghc.environment.*

# Emacs temporary files
*~
result
_build
.direnv/*
.envrc
